<%- include("./partails/header.ejs") %>
<main>
    <div class="bar">
        <h1><%= new Date().toDateString()%></h1>
    </div>
    <%- include("./partails/list.ejs") %>
</main>

<%- include("./partails/footer.ejs") %>